.header {
    position: fixed;
    top: -3px;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    /* semi-transparent white */
    backdrop-filter: blur(10px);
    /* glass blur effect */
    -webkit-backdrop-filter: blur(10px);
    /* for Safari */
    margin-top: 0px;
    padding: 5px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    /* optional soft shadow */
    color: #fff;
    /* text color */
    z-index: 1000;
}


.burger{
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    /* z-index: 1100; */
    display: flex;
    gap: 4px;
    flex-direction: column;
     display: none;
}

.lines{
    list-style: none;
    width: 35px;
    margin: 4px;
    height: 3px;
    background-color: #fff;
}

@media screen and (max-width: 950px) {
    .left {}

    .right {
        flex-direction: column;
        display: none;
        
        width: 100%;
    }
    .burger{
        display: block;
    }
    .right.nav-active{
    display: flex;
    padding: 25px;
    gap: 20px;
    background: rgba(0, 0, 0, 0.737);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
}
}



