@import "tailwindcss";

.glass-card {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.glass-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  border-radius: 12px;
  backdrop-filter: blur(12px);
}

.drop-shadow-glow {
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.35));
}

